.bet-container {
  width: 600px; /* Increased width */
  padding: 40px; /* Increased padding */
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  gap: 15px; /* Increased gap for more spacing between elements */
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.25rem; /* Increased font size */
  
  margin: 0; /* Reset default margins */
}

.bet-input-section {
  display: flex;
  gap: 15px; /* Increased gap for more spacing between input and button */
  margin-bottom: 25px; /* Increased margin for more spacing */
}

input {
  padding: 8px 12px; /* Increased padding */
  font-size: 1.1rem; /* Increased font size */
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

button {
  padding: 8px 12px; /* Increased padding */
  font-size: 1.1rem; /* Increased font size */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.heading-section {
  display: flex;
  align-items: center; /* This ensures vertical alignment of flex items */
  gap: 10px;
  margin-bottom: 25px; /* Increased margin for more spacing */
}

.info-icon {
  position: relative;
  cursor: pointer;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 250px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 0.9rem;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.info-icon:hover .tooltip {
  display: block;
}

.withdraw-section {
  position: relative;
  display: inline-block; /* Makes the container as wide as its content */
}

.tooltip-withdraw {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 300px; /* Adjust width as needed */
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 0.9rem;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.withdraw-section:hover .tooltip-withdraw {
  display: block;
}
